[user]
	name = Simon Nyberg
	email = simon@nyberg.io
[alias]
	ci = commit
	co = checkout
	st = status
	automerge = !git config branch.master.remote origin && git config branch.master.merge refs/heads/master
  lg = log --graph --topo-order --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cred<%an>'
  df = difftool
[color]
  ui = auto
	interactive = auto
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
  editor= vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[apply]
	whitespace = nowarn
[push]
  default = simple
[diff]
	tool = vimdiff
[pull]
	rebase = true
[rebase]
	autosquash = true
[include]
	path = .gitconfig.local
[init]
	templatedir = /Users/simon/.git-templates
[mergetool]
	keepBackup = false
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
